body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.bar {
    background-color: #000a12;
    color: #fafafa;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;

}
/* 
.profile-container {
    border: 3px solid #b20101;
}

.innerprofile-container {
    border: 3px solid blue;
    display: flex;
} */

/* .shape {
    border: 2px solid rgb(19, 72, 1);
}

.innershape {

} */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 20,
  'wght' 900,
  'GRAD' 0,
  'opsz' 48
}

.container {
    border: 3px solid green;
    /* display: flex; */
    background-color: #212121;
}

.box {
    border: 3px solid red;
    width: 800px;
    height: 609px;
    margin: 0 auto;
    color: #ffffff;
}

.login-form {
    border: 3px solid blueviolet;
    display: flex;
    flex-direction: column;
    max-width: 570px;
    margin: 0 auto;
}

.buttons {
    border: 3px solid blue;
    display: flex;
    justify-content: space-between;
    max-width: 570px;
    margin: 0 auto;
}

button {
    border: none;
}


input{
    color: grey;
    background-color: #eee;

}

h2 {

}




.pages {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.pages a {
    text-decoration: none;
    color: #fafafa;
    padding-left: 20px;
    display: block;
    transition: all 0.3s ease-out;
}

.pages a:hover {
    color: #81d4fa;
    transform: rotate(2deg);
}

footer {
   background-color: #212121;
    color: #fff;
}