body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #151515;
}

.bar {
    background-color: #000a12;
    color: #fafafa;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    position: sticky;
    top: 0;

}
/* 
.profile-container {
    border: 3px solid #b20101;
}

.innerprofile-container {
    border: 3px solid blue;
    display: flex;
} */

/* .shape {
    border: 2px solid rgb(19, 72, 1);
}

.innershape {

} */

/* .material-symbols-outlined {
  font-variation-settings:
  'FILL' 20,
  'wght' 900,
  'GRAD' 0,
  'opsz' 48
} */

.material-symbols-outlined{
    /* text-align: center; */
    align-items: center;
}

.container {
    /* display: flex; */
    background-color: #212121;
}

.box {
    /* border: 3px solid red; */
    width: 700px;
    height: 550px;
    margin: 30px auto;
    color: #ffffff;
    /* display: flex;
    flex-direction: column; */
    /* text-align: center; */
    /* border-color: rgb(77, 37, 15) rgb(100, 172, 49); */
    /* background-color: #151515; */
}
form {
    text-align: center;
}
/* h2, {
    text-align: center;
} */

img {
    width: 100px;
    border-radius: 100%;
}


.login-form {
    /* border: 3px solid blueviolet; */
    /* background-color: #180909; */
    display: flex;
    flex-direction: column;
    max-width: 480px;
    margin: 0 auto;
    /* font-size: 20px; */
    /* border-bottom-left-radius: 100%;
    border-top-right-radius: 100%; */
}
.login {
    background-color: #212121;
    color: #fff;
    margin: 0 150px;
    /* outline: #ffffff; */
    border: 2px solid #fff;
}
.buttons {
    /* border: 3px solid rgb(23, 2, 52); */
    display: flex;
    justify-content: space-between;
    max-width: 480px;
    margin: 0 auto;
}

input{
    color: #000a12;
    /* background-color: #eee; */
    padding: 12px 5px;
    margin: 10px 0;
    border-radius: 6px;
}

.account, .forgot{
    margin-top: 20px;
    padding-bottom: 2px;
}

#btn-underline:hover{
    text-decoration: underline;
    text-underline-offset: 8px;
    text-emphasis-color: red;
}



.pages {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.pages a {
    text-decoration: none;
    color: #fafafa;
    padding-left: 20px;
    display: block;
    transition: all 0.3s ease-out;
}

.pages a:hover {
    color: #81d4fa;
    transform: rotate(2deg);
}

footer {
   background-color: #000a12;
    color: #fff;
}
.innerfooter {
    /* border: 3px solid brown; */
    height: 100px;
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.login:hover {
    background-color: #000a12;
    color: #ffffff;
}